@media (min-width: 340px) {
    .main-layout{
        padding: 13px 25px;
    }
    .editor-controls{
        width: calc(66vw);
        height: calc(7 / 5 * 66vw / 1.2);
    }

    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(90px , 1fr));
        gap: 10px;
    }

}

@media (min-width: 390px) {
    .main-nav{
        display: block;
    }
    
    .burger-menu-btn{
        display: none;
    }

    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(125px , 1fr));
    }
}

@media (min-width: 511px) {
    .canvas-container{
        width: 270px;
    }

    .editor-controls {
        gap: 10px 5px;
        width: auto;
        height: auto;
        align-self: stretch;
    }

    .grid-container{
        grid-template-columns: repeat(auto-fit, minmax(140px , 1fr));
    }

}

@media (min-width: 620px) {
    .main-layout{
        max-width: 600px;
    }

    .editor-controls{
        padding: 0 8.3%;
    }
}