*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 10px;
    line-height: 1.2;
}

img{
    width: 100%;
}

img.logo{
    max-width: 150px;
}

canvas {
    display: block;
}

.main-clr{
    background-color: var(--clr1);
}

.secondary-clr{
    background-color: var(--clr2);
}

.blank-clr{
    background-color: var(--clr3);
}