*{
    box-sizing: border-box;
    margin: 0;
}

img{
    width: 100%;
}

img.logo{
    max-width: 150px;
}

.canvas-container{
    background-color: antiquewhite;
    width: 90vw;
    margin: auto;
}

canvas {
    margin: auto;
    display: block;
}